@media screen and (max-width: 1023px) {
  .search-section {
    display: flex;
    flex-direction: column !important;
  }

  .button-upload {
    margin: 0 !important;
  }

  .or-text {
    margin-left: 0 !important;
  }
}
